<h1 class="text-3xl">本管理 > 本登録</h1>
<%= form_with(model: @book, url: admin_books_path) do |f| %>
  <div class="flex">
    <div>
      <%= f.file_field :image %>
    </div>
    <div>
      <div>
        <p>
          <%= f.label :タイトル %>
        </p>
        <p>
          <%= f.text_field :title, class: "border" %>
        </p>
      </div>
      <%= f.submit "本を登録する", class: "w-full mt-6 text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5" %>
    </div>
  </div>
<% end %>

<%= form_with(url: search_admin_books_path, method: :get) do |f| %>
  <div class="flex">
    <div>
      <p>
        <%= f.label :isbn, "ISBN-No.：" %>
        <%= f.number_field :isbn, class: "border" %>
        <%= f.submit "検索", class: "w-full mt-6 text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5" %>
      </p>
    </div>
  </div>
<% end %>

<%= @result %>