<% if current_user %> 
  <h1> <%= current_user.name %> さん</h1>
  <%= link_to "サインアウト", "#"%>
<% else %>
  <h1> 名無しさん</h1>
  <%= link_to "サインイン", new_user_session_path %>
<% end %>

<h1>本一覧</h1>

<ul class="books">
  <% @books.each do |book| %>
    <li>
      <%= image_tag 'sample.jpeg', size: 200 %>
      <%= link_to book.title, book %>
      <p>ステータスが表示されます</p>
    </li>
  <% end %>
</ul>