<h1>Reservations#index</h1>

<% if current_user %>
  <h1> <%= current_user.name %> さん</h1>
  <%= link_to "サインアウト", "#"%>
<% else %>
  <h1> 名無しさん</h1>
  <%= link_to "サインイン", new_user_session_path %>
<% end %>

<h1>予約一覧</h1>

<ul class="books">
  <% @reserved_books.each do |reserved_book| %>
    <li>
      <%= image_tag 'sample.jpeg', size: 200 %>
      <%= link_to reserved_book.book.title, reserved_book %>
      <p>ステータスが表示されます</p>
      <p><%= reserved_book.reservation_at.strftime("%Y年%m月%d日")%> から</p>
    </li>
  <% end %>
</ul>