<h1>借りている本</h1>
<% if @lendings.any? %>
  <% @lendings.each do |lend| %>
    <ul>
      <li>
        <% if lend.book.image.attached? %>
          <%= link_to (image_tag lend.book.image, size: 200), lending_path(lend) %>
        <% else %>
          <%= link_to (image_tag 'sample.jpeg', size: 200), lending_path(lend) %>
        <% end %>
      </li>
      <li>
        <%#= link_to lend.book.title, lending_path(lend) %>
        <%= lend.book.title %>
      </li>
      <li>
        <%= lend.return_at.strftime("%Y年%m月%d日") %>まで
      </li>
      <%= lend.user.name %>
      <%= lend.return_status %>
    </ul>
  <% end %>
<% else %>
  <p>現在借りている本はありません</p>
<% end %>
