<p>借りている本 >> <%= @lending.book.title %></p>
<%= image_tag 'sample.jpeg', size: 500 %>
<ul>
  <li>
    <%= @lending.book.title %>
  </li>
  <li>
    現在借りています
  </li>
  <li>
    <%# リンクを押すと、本を返却して、本の詳細画面へリダイレクトする %>
    <%= link_to "本を返却する", "#" %>
  </li>
  <li>
    <% if @lending.return_at < Date.today %>
      <strong>返却期限が過ぎています！！</strong>
      <%= @lending.return_at.strftime("%Y年%m月%d日") %>が返却期限です
    <% else %>
      <%= @lending.return_at.strftime("%Y年%m月%d日") %>まで借りています
    <% end %>
  </li>
</ul>

