<p>借りている本 > <%= @lending.book.title %></p>
<ul>
  <li>
    <% if @lending.book.image.attached? %>
      <%= image_tag @lending.book.image, size: 500 %>
    <% else %>
      <%= image_tag 'no_image.jpeg', size: 500 %>
    <% end %>
  <li>
    <%= @lending.book.title %>
  </li>
  <li>
    現在借りています(ステータスが表示されます)
  </li>
  <li>
    <%# リンクを押すと、本を返却して、本の詳細画面へリダイレクトする %>
    <%= button_to("返却する", lending_path, method: :patch) %>
  </li>
  <li>
    <% if @lending.return_at < Date.today %>
      <strong>返却期限が過ぎています！！</strong>
      <%= @lending.return_at.strftime("%Y年%m月%d日") %>が返却期限です
    <% else %>
      <%= @lending.return_at.strftime("%Y年%m月%d日") %>まで借りています
    <% end %>
  </li>
</ul>

