<p>借りている本 > <%= @lending.book.title %></p>

<div class="flex">
  <div>
    <% if @lending.book.image.attached? %>
      <%= image_tag @lending.book.image, size: 200 %>
    <% elsif @lending.book.isbn %>
      <%= image_tag get_book_image(@lending.book.isbn), size: 200 %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: 200 %>
    <% end %>
  </div>
  <div>
    <h2 class="text-5xl font-bold"><%= @lending.book.title %></h2>
    <span class="text-sm text-black" style="background:#0096FF;font-weight: bold;">現在借りています</span>

    <div class="mt-6">
      <%= button_to("返却する", lending_path, method: :patch, class:"w-full items-center px-4 py-2 text-sm font-medium text-center text-white bg-orange-500 border border-gray-300 rounded-lg") %>

      <% if @lending.return_at < Date.today %>
        <strong>返却期限が過ぎています！！</strong>
        <%= @lending.return_at.strftime("%Y年%m月%d日") %>が返却期限です
      <% else %>
        <%= @lending.return_at.strftime("%Y年%m月%d日") %>まで借りています
      <% end %>
    </div>
  </div>
</div>
