<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div class="flex">
  <aside id="default-sidebar" class="fixed w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full py-4 overflow-y-auto bg-blue-600 items-center">
      <ul>
        <% if current_user %>
          <li>
            <p class="flex justify-center items-center p-2 text-base font-normal text-black bg-green-300 hover:bg-green-600"><%= current_user&.name %></p>
          </li>
        <% end %>
        <% if current_user&.admin? %>
          <li>
            <%= link_to "本管理", new_admin_book_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
          </li>
          <li>
            <%= link_to "ユーザー一覧", admin_users_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
          </li>
        <% end %>
        <li>
          <%= link_to "本の一覧", books_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
        </li>
        <li>
          <%= link_to "借りている本一覧", lendings_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
        </li>
        <li>
          <%= link_to "予約している本一覧", reservations_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
        </li>
        <li>
          <%= link_to "本の予約", books_search_index_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
        </li>
        <%# userがログイン時、ステータスを表示 %>
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600", data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
          <%= link_to 'ログイン', new_user_session_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
        <% end %>
      </ul>
    </div>
  </aside>

  <div class="w-full pl-64">
    <% flash.each do |key, value| %>
      <% if key == "success" || key == "notice" %>
        <%= content_tag(:div, value, class: "flex items-center text-center text-white justify-center h-12 bg-green-300 w-full") %>
      <% else %>
        <%= content_tag(:div, value, class: "flex items-center text-center justify-center h-12 bg-red-300 w-full") %>
      <% end %>
    <% end %>
    <div class="flex flex-col my-4 items-center mx-auto">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
