<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<%# ユーザー登録、ログイン、ログアウト時のフラッシュメッセージ %>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div>
  <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
  </button>

  <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full py-4 overflow-y-auto bg-blue-600 items-center">
      <ul>
        <% if current_user %>
          <li>
            <p class="flex justify-center items-center p-2 text-base font-normal text-black bg-green-300 hover:bg-green-600"><%= current_user.name %></p>
          </li>
        <% end %>
        <% if current_user&.admin? %>
          <li>
            <%= link_to "本管理", new_admin_book_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
          </li>
          <li>
            <%= link_to "ユーザー一覧", "#", class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
          </li>
        <% end %>
        <li>
          <%= link_to "本の一覧", books_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
        </li>
        <li>
          <%= link_to "借りている本一覧", lendings_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
        </li>
        <li>
          <%= link_to "予約している本一覧", reservations_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
        </li>
        <%# userがログイン時、ステータスを表示 %>
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600", data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "flex justify-center items-center p-2 text-base font-normal text-black bg-gray-300 hover:bg-gray-600" %>
        <% end %>
      </ul>
    </div>
  </aside>

  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
    <%= yield %>
  </div>
</div>

</body>
</html>
